.root {
  display: flex;
  flex-direction: column;
  gap: 1px;
  overflow-y: auto;
  padding: 4px 0;
}

.item {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  width: 100%;
  transition: background 0.1s;
}

.item:hover {
  background: light-dark(rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.07));
}

.item[data-active] {
  background: var(--mantine-primary-color-light);
  color: var(--mantine-primary-color-filled);
}
